name: "On Push"

on:
  push: 
    branches:
      - main 
  workflow_dispatch:

jobs:
  DEPLOY_ON_WEBSERVER:
    runs-on: ["self-hosted"]
    steps: 
      - uses: actions/checkout@v4
      - run: docker compose up -d